/**** General ****/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/**** Responsive layout ****/
/* - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/**** Sidebar ****/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/**** Index page ****/
.btn-index {
    background-color: #ffeb01;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 14px;
    float: right;
}

.label-index {
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

.form-index {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
}

.popup-index-title {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
}

.popup-index-text {
    font-family: 'Times New Roman', serif;
    font-size: 12px;
}

.leaflet-popup-content {
    width: auto;
    height: 150px;
}

.btn-popup-index {
    background-color: #ffeb01;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}

/**** Signup page ****/
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #ffeb01;
}

.center-div {
    background-color: rgb(254, 255, 239);
    width: 40%;
    border: 3px solid #5d2e13;
    border-radius: 25px;
    font-family: 'Times New Roman', serif;
    color: #5d2e13;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-signup {
    background-color: #ffeb01;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}
