{% load leaflet_tags %}
{% load static %}

<head>
    <!-- **** Bootstrap library **** -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- **** Customized styles **** -->
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <title>TCS Camping Sion</title>

    <!-- **** Add the leaflet components **** -->
    {% leaflet_js %}
    {% leaflet_css %}

    <!-- **** Add the javascripts (jquery and to draw the map) **** -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "map-index.js" %}"></script>
</head>

<body onload="initialize()">
<!-- **** Navbar **** -->
<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #ffeb01">
    <text class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" style="color: black; font-family: 'Times New Roman',serif; font-weight: bold">TCS Camping Sion</text>
</nav>

<!-- **** Main content **** -->
<div class="container-fluid m-0 p-0">
    <!-- **** Map **** -->
    <div class="col-md-10 m-0 p-0">
        <div id="campingmap" style="width:100%; height:100%"></div>
    </div>

    <!-- **** Sidebar **** -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ml-0 pl-0 ">
        <!-- **** Login form **** -->
        <div id="login" class="container" style="margin-top: 45px">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username" class="label-index" >Username:</label>
                    <input id="id_username" name="username" type="text" class="form-control form-index" autofocus="" required="">
                </div>
                <div class="form-group">
                    <label for="id_password" class="label-index">Password:</label>
                    <input id="id_password" name="password" type="password" class="form-control form-index" required="">
                </div>

                <!-- **** If credentials are incorrect **** -->
                {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                    <div class="form-error alert alert-danger" style="font-size: 11px;" role="alert">
                        {{ err }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <button type="submit" class="btn btn-index">Login &gt;</button>
            </form>
        </div>
    </nav>
</div>
</body>
